@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    background-color: rgb(237, 236, 236);
    margin: 0px;
}

#Arriba{
    display: flex;
    background-color: white;
    height: 50px;
}

.Multi{
    background-color:rgb(55, 62, 62);
    width: 90px;
    height: 35px;
    padding-top: 0.5px;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(217, 185, 38);
    
}

.Shop{
    background-color:rgb(217, 185, 38);
    width: 80px;
    height: 35px;
    padding-top: 0.5px;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(55, 62, 62);
}

#MultiShop{
    margin-top: 7px;
    margin-left: 18px;
    display: flex;
    margin-right: 20%;
    font-family: Inter;
    font-weight: 1000;
    font-size: 28px;
}

#Barra{
    display: flex;
    align-items: center;
    margin-right: 25%;
    
}

.Busqueda{
    margin-left:75px;
    margin-top: 1.5px;
    margin-bottom:1.5px;
    background-color: white;
    width: 500px;
    height: 22px;
    border-width: 0.3px;
    border-color: darkgray;
}

#Lupa{
    height: 25.9px;
    background-color: white;
    color: rgb(217, 185, 38);
    border-width: 0.3px;
    border-color: darkgray;
}

#Customer{
    margin-left: 107px;
    font-size: 12px;
}

#Numero{
    margin-left: 100px;
    font-weight: 700;
    font-size: 15px;
}

#Servicio{
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    font-family: Inter;
}

#Menu{
    background-color:rgb(55, 62, 62);
    background-size: cover;
    height: 50px;
    width: 100%;
    display: flex;
}

#Categoria{
    font-family: Inter;
    background-color: rgb(217, 185, 38);
    border: none;
    font-weight: 600;
    font-size: 12px;
}

#BarraCategoria{
    height: 50px;
    width: 250px;
    margin-left: 40px;
    background-color: rgb(217, 185, 38);
    align-content: center;
}

#IconoCategoria{
    margin-left: 6px;
    display: flex;
    align-items: center;
}

#BotonesPrincipales{
    align-content: center;
    margin-left: 10px;
}

.Botones{
    font-family: Inter;
    background-color:rgb(55, 62, 62);
    border:none;
    color: white;
    cursor: pointer;
    margin-right: 3px;
}

.Botones:hover{
    color:rgb(217, 185, 38);
}

#MercadoCorazon{
    align-content: center;
    margin-left: 58.5%;
    color:rgb(217, 185, 38);
    display: flex;
    align-items: center;
}

.Circulo{
    margin-left: 1px;
    color: white;
}

.Valor0{
    color: white;
    font-size:12px;
    margin-left: 22px;
    position: absolute;
}

#Imagenes{
    display: flex;
    margin-top: 30px;
    margin-left: 40px;
    font-family: Inter;
    color: white;
}

#Imagen1{
   margin-right: 40px;
   width: 65%;
   height: 346px;
   zoom: 124%;
   font-size: 50px;
   justify-content: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}

#Imagen1 p{
    font-size: 12px;
    width: 40%;
    text-align: center;
}

#Imagen1 button{
    background-color: transparent;
    color: white;
    border-color: white;
    margin-top: 10px;
    height: 35px;
    width: 100px;   
}

#ImagenesColumna{
    display: flex;
    flex-direction: column;
}

.Imagen2{
    margin-bottom: 40px;
    width: 1000px;
    height: 428px;
    zoom: 48%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-weight: 1000;
}

.Imagen2 p{
    font-size: 45px;
    width: 40%;
    text-align: center;
    font-weight: 1000;
}

.Imagen2 button{
    background-color: rgb(217, 185, 38);
    color: black;
    border: none;
    margin-top: 10px;
    height:65px;
    width: 150px; 
    font-size: 25px;
}

#Abajo{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 130px;
}

.BotonesAbajo{
    text-align: left;
    width: 330px;
    height: 90px;
    background-color: white;
    border: none;
    font-size: 17px;
    font-weight: 600;
}

.BotonesAbajo i{
    color: rgb(217, 185, 38);
    scale: 2;
    margin-right: 20px;
    margin-left: 15px;
}











