@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#principal {
    display: flex;
    background-color: white;
    font-family: Inter;
    width: 100%;
    justify-content: center;
    height: 70px;
    align-items: center;
    position: fixed;
    z-index: 2;
}

#ProgramaYa{
    width: 50%;
    font-size: 23px;
    font-weight: 700;
    color: blueviolet;
}

#info a{
    text-decoration: none;
    color: black;
    margin-right: 30px;
    font-weight: 700;
}

#seccion1{
    height: 860px;
    color: white;
    font-family: Inter;
    font-size: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#imagen1{
    filter: brightness(40%);
    height: 100%;
    width: 100%; 
    background-size: cover;
    background-position: center;
    position: absolute;
}

#sec1info{
    text-align: center;
    width: 45%;
    position: relative;
    z-index: 1;
}

#sec1boton{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

#sec1boton button{
    background-color: blueviolet;
    color: white;
    font-family: Inter;
    font-size: 28px;
    font-weight: 501;
    padding: 7px 20px;
}

#seccion2{
    width: 100%;
    height: 860px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

#imagenS2{
    display: flex;
    justify-content:center;
    align-items:center;
}

#imgS2{
    margin-left: 100px;
    background-position: center; 
    width: 420px;
    height: 520px;
}

#textoS2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Inter;
}

#tituloS2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}

#ProgramaYaS2{
    color: blueviolet;
}

#textoS2 p{
   width: 60%;
   font-size: 18px;
   font-weight: 510;
}

#nuestroPrograma{
    background-color: rgb(25, 25, 25);
    width: 100%;
    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
}

#seccion3{
    width: 100%;
    height: 860px;
    background-color: rgb(25, 25, 25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#grillas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#grilla1{
    display: flex;
    justify-content: right;
}

.tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 55%;
    height: 400px;
    background-color: rgb(52, 51, 51);
}

.imagenS3{
    width: 18.3%;
    height: 130px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    filter: brightness(40%);
    position:absolute;
}

.textoBotonT{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: Inter;
}

.textoS3{
    width: 70%;
    font-size: 16px;
    font-weight: 500;
}

.textoBotonT button{
    margin-top: 20px;
    color: white;
    height: 35px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 18px;
    font-weight: 600;
}

.tarjeta button{
    background-color: blueviolet;
    width: 30%;
}

.textoIT{
    text-align: center;
    display: flex;
    position: relative;
    width: 50%;
   
}

.tarjeta div p{
    font-family: Inter;
    color: white;
    font-size: 30px;
    font-weight: 800;
}

#grilla2{
    display: flex;
    justify-content: center;
}

#textoIT2{
    width:80% ;
}

#grilla3{
    display: flex;
    justify-content: left;
}

#seccion4{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 720px;
    background-color: white;
}

#textoS4{
    display: flex;
    flex-direction: column;
    font-family: Inter;
    font-size: 17px;
    font-weight:bolder;
}

#imagenS4{
    height: 380px;
    width: 25%;
    background-size: cover;
}

#seccion5{
    height: 720px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#textoS5{
    color: white;
    display: flex;
    flex-direction: column;
    font-family: Inter;
}

#textoS5 p{
    font-size: 65px;
    font-weight: 600;
}

#botonS5{
    display: flex;
    align-items: center;
    justify-content: center;
}

#botonS5 button{
    background-color:blueviolet ;
    color: white;
    font-size: 25px;
    font-weight: 700;
    padding: 10px 20px;
}

#pie-de-pagina{
    background-color: white;
    height: 130px;
    display: flex;
    justify-content: right;
    align-items:last baseline;
}

#textoPie{
  display: flex;
  justify-content: center;
  width: 20%;
  height: 40%;
  font-family: Inter;
  color: gray;
  font-size: 18.5px;
  font-weight: bold;
}
